extends layout

block content
  h1= title
  p Get fit outside of the gym.
  p Find outdoor fitness activities in your city. Meet up with other people who are getting fit outside of the gym.
  p Kayaking, paddleboarding, running, cycling, hiking... and more! 
  p Find an ongoing event, a one-time event, or post your own and invite others to join.


  ul
    li #[strong Cities:] !{city_count}
    li #[strong Activities:] !{activity_count}
    li #[strong Organizers:] !{organizer_count}
    li #[strong Participants:] !{participant_count}
    li #[strong Activity types:] !{category_count}


  ul
    each city in city_list
      li 
        a(href=city.url) #{city.name}
